<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="600 seconds">

    <property name="APP_NAME" value="yaojk-eureka-client-consumer"/>
    <property name="LOG_HOME" value="/Users/jiankang/logs/${APP_NAME}"/>

    <!--为了防止进程退出时，内存中的数据丢失，请加上此选项-->
    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

    <appender name="out-std" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %t %logger{0} - %m%n</Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <springProfile name="dev, fat, prod">
        <appender name="out-master" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_HOME}/${APP_NAME}.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <FileNamePattern>${LOG_HOME}/${APP_NAME}.log.%d{yyyy-MM-dd}</FileNamePattern>
                <MaxHistory>30</MaxHistory>
                <cleanHistoryOnStart>true</cleanHistoryOnStart>
            </rollingPolicy>
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %t %logger{0} - %m%n</pattern>
            </encoder>
        </appender>

        <appender name="out-error" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_HOME}/${APP_NAME}.error.log</file>
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>ERROR</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <FileNamePattern>${LOG_HOME}/${APP_NAME}.error.log.%d{yyyy-MM-dd}</FileNamePattern>
                <MaxHistory>60</MaxHistory>
                <cleanHistoryOnStart>true</cleanHistoryOnStart>
            </rollingPolicy>
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %t %logger{0} - %m%n</pattern>
            </encoder>
        </appender>
    </springProfile>

    <springProfile name="prod">
        <root level="info">
            <appender-ref ref="out-std"/>
            <appender-ref ref="out-master"/>
            <appender-ref ref="out-error"/>
        </root>
    </springProfile>

    <springProfile name="dev, fat">
        <root level="debug">
            <appender-ref ref="out-std"/>
            <appender-ref ref="out-master"/>
            <appender-ref ref="out-error"/>
        </root>
    </springProfile>

    <root level="debug">
        <appender-ref ref="out-std"/>
    </root>

</configuration>

